.title-slide {
   background-image: url(logo1.png);
   background-position: top right;
   background-size: 110px 120px;
   /* background-size: cover; */

}

.inline-c, remark-inline-code {
   background: #e5e5e5;
   border-radius: 3px;
   padding: 4px;
   font-family: 'FiraCode NF', 'FiraCode NF', Monaco, monospace;
}


.yellow-h{
   background: #ffff88;
}

.out-t, remark-inline-code {
   background: #9fff9f;
   border-radius: 3px;
   padding: 4px;
   
}

.remark-code, .remark-inline-code {
   font-family: var(--code-font-family), FiraCode NF, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
 }


.medium {
   font-size: 75%   
}

.small {
   font-size: 65%
}

.action {
   background-color: #f2eecb;
}
